In [1]:
import pandas as pd
df=pd.read_csv('iphone.csv')

In [242]:
#1 - The column names have spaces . rename the column names to have underscore '_' instead of space (try to do in one go instead of specifying each column nam in rename method)
df.columns=df.columns.str.replace(' ','_')

In [250]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB

In [249]:
#2- start rating for some of the models is missing in the dataset. fill those missing values with the average rating all the models.
df.loc[df['Star_Rating'].isna(),'Star_Rating']=df['Star_Rating'].mean()

In [248]:
average_rating = df['Star_Rating'].mean(skipna=True)
df['Star_Rating'].fillna(average_rating, inplace=True)

4.576271186440678

In [254]:
fc=(df.Ram=='2 GB') & (df.Star_Rating.isna())
df[fc,'Star_Rating']=df.loc[df.Ram=='2 GB',].groupby('Ram')['Star_Rating'].mean().values

ValueError: Length of values (1) does not match length of index (62)

In [45]:
df1=df.groupby('Ram')['Star_Rating'].mean()

In [62]:
df[df['Ram']=='2 GB']

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
5,"APPLE iPhone 8 Plus (Silver, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,49900,49900,3431,356,MOBEXRGVQGYYP8FV,4.6,2 GB
6,"APPLE iPhone 8 Plus (Space Grey, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,49900,49900,3431,356,MOBEXRGVQKBREZP8,4.6,2 GB
7,"APPLE iPhone 8 (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-space-...,Apple,77000,77000,11202,794,MOBEXRGVZFZGZEWV,4.5,2 GB
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB
54,"APPLE iPhone SE (White, 128 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,34999,44900,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB

In [49]:
df['Ram']

0     2 GB
1     2 GB
2     2 GB
3     2 GB
4     2 GB
      ...
57    4 GB
58    4 GB
59    4 GB
60    4 GB
61    4 GB
Name: Ram, Length: 62, dtype: object

In [63]:
df['Product_Name'].str.

0            APPLE iPhone 8 Plus (Gold, 64 GB)
1     APPLE iPhone 8 Plus (Space Grey, 256 GB)
2         APPLE iPhone 8 Plus (Silver, 256 GB)
3              APPLE iPhone 8 (Silver, 256 GB)
4                APPLE iPhone 8 (Gold, 256 GB)
                        ...
57              APPLE iPhone SE (Black, 64 GB)
58             APPLE iPhone 11 (Purple, 64 GB)
59              APPLE iPhone 11 (White, 64 GB)
60              APPLE iPhone 11 (Black, 64 GB)
61                APPLE iPhone 11 (Red, 64 GB)
Name: Product_Name, Length: 62, dtype: object

In [89]:
type(df.loc[df.Ram=='2 GB',].groupby('Ram')['Star_Rating'].mean().values)

numpy.ndarray

In [257]:
#4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value
df['Discount_Percentage']=(df.Mrp-df.Sale_Price)/df.Mrp*100

In [98]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,0.000000
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,0.000000
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,0.000000
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,0.000000
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.814536
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,14.391621
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,14.391621
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,14.391621
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,14.391621

In [258]:
#5- which model has highest percent discount ?
df.sort_values('Discount_Percentage',ascending=False).head(1)[['Product_Name','Discount_Percentage']]

                                   Product_Name  Discount_Percentage
18  APPLE iPhone 11 Pro (Midnight Green, 64 GB)            29.644465

In [265]:
space_configuration_counts = df['Ram'].value_counts()

# Rename the columns for clarity
space_configuration_counts.columns = ['Space Configuration', 'Total Models']

# Display the result
print(space_configuration_counts)

4 GB    29
6 GB    19
2 GB    13
3 GB     1
Name: Ram, dtype: int64

In [144]:
#6- find total no of models  each space configuration (128 GB , 64 GB etc)
df.groupby(df['Product_Name'].str[-7:-1])['Product_Name'].count()

Product_Name
 64 GB    20
128 GB    24
256 GB    14
512 GB     4
Name: Product_Name, dtype: int64

In [178]:
#10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)
df.Mrp.max()-df.Mrp.min()

110000

In [200]:
#12- which iphone has 3rd highest MRP
df.loc[df.sort_values('Mrp',ascending=False).head(3).index[2],'Product_Name']

'APPLE iPhone 11 Pro (Midnight Green, 512 GB)'

In [300]:
sorted_df = df.sort_values(by='Mrp', ascending=False).reset_index()

# Get the iPhone with the 3rd highest MRP
third_highest_mrp_iphone = sorted_df.loc[2]

# Print the details of the iPhone with the 3rd highest MRP
sorted_df

,index,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage
0,41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-p...,Apple,140900,149900,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB,6.004003
1,24,"APPLE iPhone 12 Pro (Silver, 512 GB)",https://www.flipkart.com/apple-iphone-12-pro-s...,Apple,140900,149900,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB,6.004003
2,21,"APPLE iPhone 11 Pro (Midnight Green, 512 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117900,140300,7088,523,MOBFKCTSSJCWYGCC,4.6,4 GB,15.965788
3,19,"APPLE iPhone 11 Pro (Space Grey, 512 GB)",https://www.flipkart.com/apple-iphone-11-pro-s...,Apple,117900,140300,7088,523,MOBFKCTSRTHRQTFT,4.6,4 GB,15.965788
4,31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,130900,139900,580,45,MOBFWBYZEF6XQ5ZW,4.6,6 GB,6.433167
...,...,...,...,...,...,...,...,...,...,...,...,...
57,53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,22.051225
58,54,"APPLE iPhone SE (White, 128 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,34999,44900,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB,22.051225
59,55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,22.051225
60,52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,24.814536
61,57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.814536

In [198]:
df.loc[0:1,['Product_Name','Mrp']]

                               Product_Name    Mrp
0         APPLE iPhone 8 Plus (Gold, 64 GB)  49900
1  APPLE iPhone 8 Plus (Space Grey, 256 GB)  84900

In [213]:
#13- what is the average mrp of iphones which costs above 100,000
df[df.Mrp>=100000]['Mrp'].mean()

130559.09090909091

In [297]:
# Filter the DataFrame to include only iPhones with MRP above 100,000
high_mrp_iphones = df[df['Mrp'] > 100000]

# Calculate the average MRP for the filtered iPhones
average_mrp = high_mrp_iphones['Mrp'].mean()

# Print the average MRP
print(average_mrp)

130559.09090909091

In [238]:
#14- which iphone with 128 GB space has highest ratings to review ratio
df1=df.loc[df['Product_Name'].str[-7:-1]=='128 GB',['Product_Name','Number_Of_Ratings','Number_Of_Reviews']]
df1['ratio']=(df1.Number_Of_Ratings)/(df1.Number_Of_Reviews)
df1.sort_values('ratio',ascending=False).head(1)

,Product_Name,Number_Of_Ratings,Number_Of_Reviews,ratio
56,"APPLE iPhone 11 (Black, 128 GB)",43470,3331,13.050135

In [252]:
#3- Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM. example :  if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value. 

average_ratings_by_ram = df.groupby('Ram')['Star_Rating'].mean().reset_index()

# Rename the 'Star Rating' column to 'Average Rating' for clarity
average_ratings_by_ram.rename(columns={'Star_Rating': 'Average_Rating'}, inplace=True)

# Perform a left join to fill missing ratings based on RAM
df = df.merge(average_ratings_by_ram, on='Ram', how='left')

# Fill missing ratings with the calculated average ratings
df['Star_Rating'].fillna(df['Average_Rating'], inplace=True)

# Drop the 'Average Rating' column if not needed
df.drop(columns=['Average_Rating'], inplace=True)

# Display the modified DataFrame
print(df)

                                Product_Name  \
0          APPLE iPhone 8 Plus (Gold, 64 GB)
1   APPLE iPhone 8 Plus (Space Grey, 256 GB)
2       APPLE iPhone 8 Plus (Silver, 256 GB)
3            APPLE iPhone 8 (Silver, 256 GB)
4              APPLE iPhone 8 (Gold, 256 GB)
..                                       ...
57            APPLE iPhone SE (Black, 64 GB)
58           APPLE iPhone 11 (Purple, 64 GB)
59            APPLE iPhone 11 (White, 64 GB)
60            APPLE iPhone 11 (Black, 64 GB)
61              APPLE iPhone 11 (Red, 64 GB)

                                          Product_URL  Brand  Sale_Price  \
0   https://www.flipkart.com/apple-iphone-8-plus-g...  Apple       49900
1   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
2   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
3   https://www.flipkart.com/apple-iphone-8-silver...  Apple       77000
4   https://www.flipkart.com/apple-iphone-8-gold-2...  Apple       77000
..                                                ...    ...         ...
57  https://www.flipkart.com/apple-iphone-se-black...  Apple       29999
58  https://www.flipkart.com/apple-iphone-11-purpl...  Apple       46999
59  https://www.flipkart.com/apple-iphone-11-white...  Apple       46999
60  https://www.flipkart.com/apple-iphone-11-black...  Apple       46999
61  https://www.flipkart.com/apple-iphone-11-red-6...  Apple       46999

      Mrp  Number_Of_Ratings  Number_Of_Reviews               Upc  \
0   49900               3431                356  MOBEXRGV7EHHTGUH
1   84900               3431                356  MOBEXRGVAC6TJT4F
2   84900               3431                356  MOBEXRGVGETABXWZ
3   77000              11202                794  MOBEXRGVMZWUHCBA
4   77000              11202                794  MOBEXRGVPK7PFEJZ
..    ...                ...                ...               ...
57  39900              95909               8161  MOBFWQ6BR3MK7AUG
58  54900              43470               3331  MOBFWQ6BTFFJKGKE
59  54900              43470               3331  MOBFWQ6BVWVEH3XE
60  54900              43470               3331  MOBFWQ6BXGJCEYNY
61  54900              43470               3331  MOBFWQ6BYYV3FCU7

    Star_Rating   Ram
0      4.600000  2 GB
1      4.600000  2 GB
2      4.600000  2 GB
3      4.576271  2 GB
4      4.500000  2 GB
..          ...   ...
57     4.500000  4 GB
58     4.600000  4 GB
59     4.600000  4 GB
60     4.600000  4 GB
61     4.600000  4 GB

[62 rows x 10 columns]

In [253]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB

In [308]:
#11 - find total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows (for 11 and 12).

df['iPhone Category'] = 'Other'
df.loc[df['Product_Name'].str.contains('iPhone 11', case=False), 'iPhone Category'] = 'iPhone 11'
df.loc[df['Product_Name'].str.contains('iPhone 12', case=False), 'iPhone Category'] = 'iPhone 12'

# Group by 'iPhone Category' and calculate the total number of reviews for each category
category_reviews = df.groupby('iPhone Category')['Number_Of_Reviews'].sum().reset_index()

# Filter for 'iPhone 11' and 'iPhone 12' categories
result_df = category_reviews[category_reviews['iPhone Category'].isin(['iPhone 11', 'iPhone 12'])]

# Display the result
category_reviews

  iPhone Category  Number_Of_Reviews
0           Other              87251
1       iPhone 11              25965
2       iPhone 12               2208

In [ ]:
# Filter the DataFrame for iPhone 11 and iPhone 12 categories
iphone_11_reviews = df[df['Product Name'].str.contains('iPhone 11', case=False)]
iphone_12_reviews = df[df['Product Name'].str.contains('iPhone 12', case=False)]

# Calculate the total number of reviews for each category
total_reviews_11 = iphone_11_reviews['Number Of Reviews'].sum()
total_reviews_12 = iphone_12_reviews['Number Of Reviews'].sum()

# Create a new DataFrame with the results
result_df = pd.DataFrame({
    'iPhone Category': ['iPhone 11', 'iPhone 12'],
    'Total Reviews': [total_reviews_11, total_reviews_12]
})

In [372]:
#7- find total number of models for each color 
df['Color']=df['Product_Name'].apply(extract_color)
df['Color'].value_counts()

In [371]:
def extract_color(product_name):
    # Split the product name by '(' and ')' to get parts within parentheses
    parts = product_name.split('(')
    c=parts[1]
    d=c.split(',')[0]
    return d

In [373]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage,iPhone Category,Color
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB,0.000000,Other,Gold
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB,0.000000,Other,Space Grey
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB,0.000000,Other,Silver
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB,0.000000,Other,Silver
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB,0.000000,Other,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB,24.814536,Other,Black
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB,14.391621,iPhone 11,Purple
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB,14.391621,iPhone 11,White
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB,14.391621,iPhone 11,Black
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB,14.391621,iPhone 11,Red

In [374]:
df['Color'].value_counts()

Black             10
White             10
Silver             7
Gold               6
Space Grey         6
Red                5
Midnight Green     4
Pacific Blue       4
Graphite           4
Blue               2
RED                1
Coral              1
Green              1
Purple             1
Name: Color, dtype: int64

In [402]:
def abc(a):
    b=a.split('iPhone')
    c=b[1]
    d=c.split('(')
    return 'Iphone ' +d[0].strip()

In [403]:
#8- find total number of models by iphone version : eg
#iphone 8:  9
#iphone XR : 5
df['Model']=df['Product_Name'].apply(abc)
df['Model'].value_counts()

In [401]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage,iPhone Category,Color,Model
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB,0.000000,Other,Gold,Iphone8 Plus
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB,0.000000,Other,Space Grey,Iphone8 Plus
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB,0.000000,Other,Silver,Iphone8 Plus
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB,0.000000,Other,Silver,Iphone8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB,0.000000,Other,Gold,Iphone8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB,24.814536,Other,Black,IphoneSE
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB,14.391621,iPhone 11,Purple,Iphone11
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB,14.391621,iPhone 11,White,Iphone11
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB,14.391621,iPhone 11,Black,Iphone11
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB,14.391621,iPhone 11,Red,Iphone11

In [409]:
df['Model'].value_counts()

Iphone 12 Pro Max    8
Iphone 12            7
Iphone 11            7
Iphone SE            6
Iphone 12 Mini       6
Iphone 8 Plus        5
Iphone XR            5
Iphone 11 Pro Max    5
Iphone 12 Pro        5
Iphone 11 Pro        4
Iphone 8             3
Iphone XS Max        1
Name: Model, dtype: int64

In [413]:
#9- list top 5 models having highest no of reviews 
df.groupby('Model')['Number_Of_Reviews'].sum().sort_values(ascending=False).head(5)

Model
Iphone SE        48952
Iphone XR        33988
Iphone 11        23369
Iphone 8          2382
Iphone 11 Pro     2091
Name: Number_Of_Reviews, dtype: int64